@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<br>
<header>
    <h1 class="text-light text-center">@ViewData["Title"]</h1>
    <p class="text-light text-center">You have successfully logged out of the application.</p>
</header>