@{
    ViewData["Title"] = "Home Page";
}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="text-center text-light">
    <h1 class="display-4">Municipal Trash Collection</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
